body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 151, 190);

    
}
.container{
    height: auto;
    width: 300px;
    background-color:rgb(186, 227, 227);
    border-radius: 10px;
  

}
.img{
    padding-left: 25px;
    padding-top: 10px;
}
.button{
   display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}
button:hover{
    background: rgb(230, 147, 200);
   
}
.line{
    padding-left: 40px;
    width: 250px;
    cursor: pointer;
}